<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
  <a class="navbar-brand" href="#">INTROFilms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item {{main_page}}">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{catalog_page}}" href="/catalog">Все фильмы и сериалы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Новинки</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{category_page}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категория
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
                <a class="dropdown-item" href="/catalog/category/{{category.id}}">{{category.category_name}}</a>
            {% endfor %}
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{genre_page}}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Жанр
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for genre in genres %}
                <a class="dropdown-item" href="/catalog/genre/{{genre.id}}">{{genre.genre_name}}</a>
            {% endfor %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
            <div class="container">
            {% block content %}
            {% endblock %}
            </div>
        <div class="container">

            <center>
            &copy; Все права защищены 2019
            </center>
        </div>
</body>
</html>